.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @emp_eff, :url => "/factories/#{idencode(@factory.id)}/emp_effs/#{ idencode(@emp_eff.id) }/fct_update", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @emp_eff.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@emp_eff.errors.count, "error")}"
            %ul
              - @emp_eff.errors.full_messages.each do |msg|
                %li= msg

        = render 'emp_effs/form_content', f: f
      
