.nested-fields
  .form-group.mb-0
    .field.d-inline
      %table.w-100.table-bordered.day-pdt-table.ml-2
        %tbody
          %tr
            %td.p-2.text-center{:colspan => '2'}
              = f.select :name, options_for_chemicals, {:include_blank=>false}, {:class=>"form-control", :disabled => true}
            %td.p-2.text-center
              = f.label Setting.mth_chemicals.dosage, :class => "text-center"
            %td.p-2.text-center
              =f.number_field :dosage, :class => "form-control rounded-0", :step => "any", :disabled => true, :required => true
            %td.p-2.text-center
              = f.label Setting.mth_chemicals.avg_dosage, :class => "text-center"
            %td.p-2.text-center
              =f.number_field :avg_dosage, :class => "form-control rounded-0", :step => "any", :disabled => true, :required => true

          %tr
            %td.p-2.text-center
              = f.label Setting.mth_chemicals.unprice, :class => "text-center"
            %td.p-2.text-center
              =f.number_field :unprice, :class => "form-control rounded-0 border-danger", :step => "any"  , :required => true
            %td.p-2.text-center
              = f.label Setting.mth_chemicals.cmptc, :class => "text-center"
            %td.p-2.text-center
              =f.number_field :cmptc, :class => "form-control rounded-0 border-danger", :step => "any", :required => true
            %td.p-2.text-center
              = f.label Setting.mth_chemicals.act_dosage, :class => "text-center"
            %td.p-2.text-center
              =f.number_field :act_dosage, :class => "form-control rounded-0 border-danger", :step => "any", :required => true
    -#
      .card.border-0.mb-3.rounded-0
        .card-header.bg-transparent.border-warning
          %h5
            6 
            = Setting.mth_chemicals.label
            %span.text-danger
              (PAM药剂浓度为固体药剂溶解后浓度)
            -#
              = link_to_remove_association "删除", f, :class => "btn btn-danger btn-sm d-inline pull-right"
        .card-body
-#
  
  %td.p-2.text-center
    = f.label Setting.mth_chemicals.dosptc, :class => "text-center"
  %td.p-2.text-center
    =f.number_field :dosptc, :class => "form-control rounded-0", :step => "any"  , :required => true
  
  %td.p-2.text-center
    = f.label Setting.mth_chemicals.per_cost, :class => "text-center"
  %td.p-2.text-center
    =f.number_field :per_cost, :class => "form-control rounded-0", :step => "any"  , :required => true
