.card.border-0.mb-3.rounded-0
  .card-header.bg-transparent.border-dark
    %h5
      1 
      = Setting.month_cods.label
  .card-body
    %table.w-100.table-bordered.day-pdt-table
      %tbody
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.avg_inf, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :avg_inf, :class => "form-control", :disabled => true, :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.avg_eff, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :avg_eff, :class => "form-control", :disabled => true, :disabled => true, :required => true 
        %tr
            
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.emr, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :emr, :class => "form-control", :disabled => true, :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.avg_emq, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :avg_emq, :class => "form-control", :disabled => true, :disabled => true, :required => true 
        %tr
            
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.emq, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :emq, :class => "form-control", :disabled => true, :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.end_emq, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :end_emq, :class => "form-control", :disabled => true, :disabled => true, :required => true 
        %tr
            
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.up_std, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :up_std, :class => "form-control", :disabled => true, :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.end_std, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :end_std, :class => "form-control", :disabled => true, :disabled => true, :required => true 
            
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.yoy, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :yoy, :class => "form-control", :disabled => true, :disabled => true
            
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.mom, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :mom, :class => "form-control", :disabled => true, :disabled => true
            
        -#
          %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_cods.ypdr, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :ypdr, :class => "form-control border-danger"
            
