.card.border-0.mb-3.rounded-0
  .card-header.bg-transparent.border-primary
    %h5
      8 
      = Setting.month_powers.label
  .card-body
    %table.w-100.table-bordered.day-pdt-table
      %tbody
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.power, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :power, :class => "form-control", :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.end_power, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :end_power, :class => "form-control", :disabled => true, :required => true 
            
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.bom, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :bom, :class => "form-control", :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.bom_power, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :bom_power, :class => "form-control", :disabled => true, :required => true 
            
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.yoy_power, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :yoy_power, :class => "form-control", :disabled => true
            
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.mom_power, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :mom_power, :class => "form-control", :disabled => true
            
        -#
          %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.ypdr_power, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :ypdr_power, :class => "form-control border-danger"
            
          %td.p-2.text-center{:colspan => '2'}
            
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.yoy_bom, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :yoy_bom, :class => "form-control", :disabled => true
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.mom_bom, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :mom_bom, :class => "form-control", :disabled => true
            
        -#
          %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_powers.ypdr_bom, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :ypdr_bom, :class => "form-control border-danger"
          %td.p-2.text-center{:colspan => '2'}
