.card.border-0.mb-3.rounded-0
  .card-header.bg-transparent.border-dark
    %h5
      6 
      = Setting.month_sses.label
  .card-body
    %table.w-100.table-bordered.day-pdt-table
      %tbody
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.avg_inf, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :avg_inf, :class => "form-control", :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.avg_eff, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :avg_eff, :class => "form-control", :disabled => true, :required => true 
        %tr
            
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.emr, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :emr, :class => "form-control", :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.avg_emq, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :avg_emq, :class => "form-control", :disabled => true, :required => true 
        %tr
            
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.emq, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :emq, :class => "form-control", :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.end_emq, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :end_emq, :class => "form-control", :disabled => true, :required => true 
        %tr
            
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.up_std, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :up_std, :class => "form-control", :disabled => true, :required => true 
            
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.end_std, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :end_std, :class => "form-control", :disabled => true, :required => true 
            
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.yoy, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :yoy, :class => "form-control", :disabled => true
            
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.mom, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :mom, :class => "form-control", :disabled => true
            
        -#
          %tr
          %td.p-2.text-center
            = f.label nil, Setting.month_sses.ypdr, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :ypdr, :class => "form-control border-danger"
            
