.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @day_rpt_stc, :url => "/day_rpt_stcs/#{@day_rpt_stc.id ? idencode(@day_rpt_stc.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @day_rpt_stc.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@day_rpt_stc.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @day_rpt_stc.errors.full_messages.each do |msg|
                %li= msg
      
        .form-group.row
          = f.label Setting.day_rpt_stcs.bcr, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :bcr, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.bnr, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :bnr, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.bpr, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :bpr, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.bom, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :bom, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.cod_bom, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :cod_bom, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.bod_bom, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :bod_bom, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.nhn_bom, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :nhn_bom, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.tp_bom, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :tp_bom, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.tn_bom, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :tn_bom, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.ss_bom, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :ss_bom, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.cod_emq, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :cod_emq, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.bod_emq, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :bod_emq, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.nhn_emq, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :nhn_emq, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.tp_emq, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :tp_emq, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.tn_emq, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :tn_emq, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.ss_emq, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :ss_emq, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.cod_emr, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :cod_emr, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.bod_emr, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :bod_emr, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.nhn_emr, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :nhn_emr, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.tp_emr, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :tp_emr, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.tn_emr, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :tn_emr, :class => "form-control rounded-0" , :required => true, :step => "any"
          
        .form-group.row
          = f.label Setting.day_rpt_stcs.ss_emr, :class => "col-sm-3 col-form-label text-right"
          .col-sm-6
            = f.number_field :ss_emr, :class => "form-control rounded-0" , :required => true, :step => "any"
          
      
      
      
      
      
        .form-group.row
          .col-3.offset-3
            = f.submit '保存', :class => "button  button-small button-action"
        -#
          .col-3.offset-1
            = link_to '返回', day_rpt_stcs_path, :class => "button button-small  button-caution"
