- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-8.offset-2
              .card-body
                .container-fluid
                  .row
                  
              %table.table-bordered.day-pdt-table.w-100
                %caption.text-center
                  = Setting.day_rpt_stcs.label
                %tbody
                  %tr
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.bcr
                    %td.p-3.text-center
                      = @day_rpt_stc.bcr
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.bnr
                    %td.p-3.text-center
                      = @day_rpt_stc.bnr
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.bpr
                    %td.p-3.text-center
                      = @day_rpt_stc.bpr
                  
                  %tr
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.bom
                    %td.p-3.text-center
                      = @day_rpt_stc.bom
                  
                  %tr
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.cod_bom
                    %td.p-3.text-center
                      = @day_rpt_stc.cod_bom
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.bod_bom
                    %td.p-3.text-center
                      = @day_rpt_stc.bod_bom
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.nhn_bom
                    %td.p-3.text-center
                      = @day_rpt_stc.nhn_bom
                  
                  %tr
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.tp_bom
                    %td.p-3.text-center
                      = @day_rpt_stc.tp_bom
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.tn_bom
                    %td.p-3.text-center
                      = @day_rpt_stc.tn_bom
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.ss_bom
                    %td.p-3.text-center
                      = @day_rpt_stc.ss_bom
                  
                  %tr
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.cod_emq
                    %td.p-3.text-center
                      = @day_rpt_stc.cod_emq
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.bod_emq
                    %td.p-3.text-center
                      = @day_rpt_stc.bod_emq
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.nhn_emq
                    %td.p-3.text-center
                      = @day_rpt_stc.nhn_emq
                  
                  %tr
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.tp_emq
                    %td.p-3.text-center
                      = @day_rpt_stc.tp_emq
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.tn_emq
                    %td.p-3.text-center
                      = @day_rpt_stc.tn_emq
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.ss_emq
                    %td.p-3.text-center
                      = @day_rpt_stc.ss_emq
                  
                  %tr
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.cod_emr
                    %td.p-3.text-center
                      = @day_rpt_stc.cod_emr
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.bod_emr
                    %td.p-3.text-center
                      = @day_rpt_stc.bod_emr
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.nhn_emr
                    %td.p-3.text-center
                      = @day_rpt_stc.nhn_emr
                  
                  %tr
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.tp_emr
                    %td.p-3.text-center
                      = @day_rpt_stc.tp_emr
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.tn_emr
                    %td.p-3.text-center
                      = @day_rpt_stc.tn_emr
                  
                    %td.p-3.text-center
                      = Setting.day_rpt_stcs.ss_emr
                    %td.p-3.text-center
                      = @day_rpt_stc.ss_emr
                  
                  
      = render "layouts/bootstrap/card"
