- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-8.offset-2
              .card-body
                .container-fluid
                  .row
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.pdt_sums.inflow
                      = @pdt_sum.inflow
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.pdt_sums.outflow
                      = @pdt_sum.outflow
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.pdt_sums.inmud
                      = @pdt_sum.inmud
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.pdt_sums.outmud
                      = @pdt_sum.outmud
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.pdt_sums.mst
                      = @pdt_sum.mst
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.pdt_sums.power
                      = @pdt_sum.power
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.pdt_sums.mdflow
                      = @pdt_sum.mdflow
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.pdt_sums.mdrcy
                      = @pdt_sum.mdrcy
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.pdt_sums.mdsell
                      = @pdt_sum.mdsell
                  
                  .row
                  
                  .row
                  
                  .row
                  
                  
                  .row
                  
      = render "layouts/bootstrap/card"
