.form-group.row
  = f.label Setting.emp_infs.pdt_time, :class => "col-sm-3 col-form-label text-right"
  .col-sm-9
    = f.datetime_select :pdt_time, :start_year => 2021, :order => [:year, :month, :day ], use_month_numbers: true, :class => "form-control rounded-0"
  
.form-group.row
  = f.label Setting.emp_infs.cod, :class => "col-sm-3 col-form-label text-right"
  .col-sm-6
    = f.number_field :cod, :class => "form-control rounded-0" , :required => true, :step => "any"
  
.form-group.row
  = f.label Setting.emp_infs.nhn, :class => "col-sm-3 col-form-label text-right"
  .col-sm-6
    = f.number_field :nhn, :class => "form-control rounded-0" , :required => true, :step => "any"
  
.form-group.row
  = f.label Setting.emp_infs.tp, :class => "col-sm-3 col-form-label text-right"
  .col-sm-6
    = f.number_field :tp, :class => "form-control rounded-0" , :required => true, :step => "any"
  
.form-group.row
  = f.label Setting.emp_infs.tn, :class => "col-sm-3 col-form-label text-right"
  .col-sm-6
    = f.number_field :tn, :class => "form-control rounded-0" , :required => true, :step => "any"
  
.form-group.row
  = f.label Setting.emp_infs.flow, :class => "col-sm-3 col-form-label text-right"
  .col-sm-6
    = f.number_field :flow, :class => "form-control rounded-0" , :required => true, :step => "any"
  
.form-group.row
  = f.label Setting.emp_infs.ph, :class => "col-sm-3 col-form-label text-right"
  .col-sm-6
    = f.number_field :ph, :class => "form-control rounded-0" , :required => true, :step => "any"
  
.form-group.row
  = f.label Setting.emp_infs.temp, :class => "col-sm-3 col-form-label text-right"
  .col-sm-6
    = f.number_field :temp, :class => "form-control rounded-0" , :required => true, :step => "any"
.form-group.row
  .col-3.offset-3
    = f.submit '保存', :class => "button  button-small button-action"
-#
  .col-3.offset-1
    = link_to '返回', emp_infs_path, :class => "button button-small  button-caution"
