.container-fluid
  .row.justify-content-sm-center
    .col-sm-12
      = form_for @emp_inf, :url => "/emp_infs/#{@emp_inf.id ? idencode(@emp_inf.id) : ''}", :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
        - if @emp_inf.errors.any?
          #error_explanation.alert.alert-danger.alert-dismissible.fade.show
            %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} x 
            %h2= "#{pluralize(@emp_inf.errors.count, "error")} prohibited this buyer from being saved:"
            %ul
              - @emp_inf.errors.full_messages.each do |msg|
                %li= msg
      
        = render 'emp_infs/form_content', f:f
      
