- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title') + "--" + @factory.name
          = link_to "/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-8.offset-2
              .card-body
                .container-fluid
                  .row
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.emp_infs.pdt_time
                      = @emp_inf.pdt_time
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.emp_infs.cod
                      = @emp_inf.cod
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.emp_infs.nhn
                      = @emp_inf.nhn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.emp_infs.tp
                      = @emp_inf.tp
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.emp_infs.tn
                      = @emp_inf.tn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.emp_infs.flow
                      = @emp_inf.flow
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.emp_infs.ph
                      = @emp_inf.ph
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.emp_infs.temp
                      = @emp_inf.temp
                  
      = render "layouts/bootstrap/card"
