- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to "/#{controller_name}", :class => "button button-small  pull-right button-primary" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-8.offset-2
              .card-body
                .container-fluid
                  .row
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.eff_qlties.bod
                      = @eff_qlty.bod
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.eff_qlties.cod
                      = @eff_qlty.cod
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.eff_qlties.ss
                      = @eff_qlty.ss
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.eff_qlties.nhn
                      = @eff_qlty.nhn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.eff_qlties.tn
                      = @eff_qlty.tn
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.eff_qlties.tp
                      = @eff_qlty.tp
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.eff_qlties.ph
                      = @eff_qlty.ph
                  
                    .col-md-6.mb-3.mr-3
                      = Setting.eff_qlties.fecal
                      = @eff_qlty.fecal
                  
                  .row
                  
                  .row
                  
                  .row
                  
                  
                  .row
                  
      = render "layouts/bootstrap/card"
