.card.border-0.mb-3.rounded-0
  .card-header.bg-transparent.border-dark
    %h5
      1
      = Setting.inf_qlties.label
  .card-body
    .card-title
      %p
        = Setting.systems.chemicals
    %table.table-bordered.day-pdt-table.w-100.mb-3
      %tbody
        %tr
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.asy_cod), :class => "text-center"
          %td.p-2.text-center
            = f.number_field :asy_cod, :class => "form-control", :required => true, :step => 'any' 
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.asy_nhn), :class => " text-center"
          %td.p-2.text-center
            = f.number_field :asy_nhn, :class => "form-control", :required => true, :step => 'any' 
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.asy_tn), :class => " text-center"
          %td.p-2.text-center
            = f.number_field :asy_tn, :class => "form-control", :required => true, :step => 'any' 
        %tr
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.asy_tp), :class => " text-center"
          %td.p-2.text-center
            = f.number_field :asy_tp, :class => "form-control", :required => true, :step => 'any' 
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.bod), :class => "text-center"
          %td.p-2.text-center
            = f.number_field :bod, :class => "form-control", :required => true, :step => 'any'
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.ss), :class => "text-center"
          %td.p-2.text-center
            = f.number_field :ss, :class => "form-control", :required => true, :step => 'any' 
        %tr
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.ph), :class => " text-center"
          %td.p-2.text-center
            = f.number_field :ph, :class => "form-control", :step => "any"
          %td.p-2.text-center{:colspan => "4"}
    .card-title
      %p
        = Setting.systems.online
    %table.table-bordered.day-pdt-table.w-100
      %tbody
        %tr
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.cod), :class => "text-center"
          %td.p-2.text-center
            = f.number_field :cod, :class => "form-control", :required => true, :step => 'any' 
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.nhn), :class => " text-center"
          %td.p-2.text-center
            = f.number_field :nhn, :class => "form-control", :required => true, :step => 'any' 
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.tn), :class => " text-center"
          %td.p-2.text-center
            = f.number_field :tn, :class => "form-control", :required => true, :step => 'any' 
        %tr
          %td.p-2.text-center
            = f.label nil, cms_sub_pref(Setting.inf_qlties.tp), :class => " text-center"
          %td.p-2.text-center
            = f.number_field :tp, :class => "form-control", :required => true, :step => 'any' 
    
-#
  .col-sm-2
    .form-group.row
      = f.label nil, cms_sub_pref(Setting.inf_qlties.bod, :class => "col-sm-5 text-center"
      .col-sm-7
        = f.number_field :bod, :class => "form-control", :required => true, :step => 'any' 
      
  .col-sm-2
    .form-group.row
      = f.label nil, cms_sub_pref(Setting.inf_qlties.cod, :class => "col-sm-5 text-center"
      .col-sm-7
        = f.number_field :cod, :class => "form-control", :required => true, :step => 'any' 
    
  .col-sm-2
    .form-group.row
      = f.label nil, cms_sub_pref(Setting.inf_qlties.ss, :class => "col-sm-5 text-center"
      .col-sm-7
        = f.number_field :ss, :class => "form-control", :required => true, :step => 'any' 
      
  .col-sm-2
    .form-group.row
      = f.label nil, cms_sub_pref(Setting.inf_qlties.nhn, :class => "col-sm-5 text-center"
      .col-sm-7
        = f.number_field :nhn, :class => "form-control", :required => true, :step => 'any' 
      
  .col-sm-2
    .form-group.row
      = f.label nil, cms_sub_pref(Setting.inf_qlties.tn, :class => "col-sm-5 text-center"
      .col-sm-7
        = f.number_field :tn, :class => "form-control", :required => true, :step => 'any' 
      
  .col-sm-2
    .form-group.row
      = f.label nil, cms_sub_pref(Setting.inf_qlties.tp, :class => "col-sm-5 text-center"
      .col-sm-7
        = f.number_field :tp, :class => "form-control", :required => true, :step => 'any' 
      
  .col-sm-2
    .form-group.row
      = f.label nil, cms_sub_pref(Setting.inf_qlties.ph, :class => "col-sm-5 text-center"
      .col-sm-7
        = f.number_field :ph, :class => "form-control"
      
