.card.border-0.mb-3.rounded-0
  .card-header.bg-transparent.border-primary
    %h5
      4 
      = Setting.pdt_sums.label
  .card-body
    %table.w-100.table-bordered.day-pdt-table
      %tbody
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.pdt_sums.inflow, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :inflow, :class => "form-control", :required => true, :step => 'any' 
            
          %td.p-2.text-center
            = f.label nil, Setting.pdt_sums.outflow, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :outflow, :class => "form-control", :required => true, :step => 'any' 
            
          %td.p-2.text-center
            = f.label nil, Setting.pdt_sums.power, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :power, :class => "form-control", :required => true, :step => 'any' 
            
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.pdt_sums.inmud, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :inmud, :class => "form-control", :step => "any"
          %td.p-2.text-center
            = f.label nil, Setting.pdt_sums.outmud, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :outmud, :class => "form-control", :required => true, :step => 'any' 
          %td.p-2.text-center
            = f.label nil, Setting.pdt_sums.mst, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :mst, :class => "form-control", :step => "any"
            
    
        %tr
          %td.p-2.text-center
            = f.label nil, Setting.pdt_sums.mdflow, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :mdflow, :class => "form-control", :step => "any"
            
          %td.p-2.text-center
            = f.label nil, Setting.pdt_sums.mdrcy, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :mdrcy, :class => "form-control", :step => "any"
            
          %td.p-2.text-center
            = f.label nil, Setting.pdt_sums.mdsell, :class => " text-center"
          %td.p-2.text-center
            = f.number_field :mdsell, :class => "form-control", :step => "any"
        




-#
  .form-group.row
    = f.label nil, Setting.pdt_sums.inflow, :class => "col-sm-5 text-center"
    .col-sm-7
      = f.number_field :inflow, :class => "form-control", :required => true, :step => 'any' 
    
  .form-group.row
    = f.label nil, Setting.pdt_sums.outflow, :class => "col-sm-5 text-center"
    .col-sm-7
      = f.number_field :outflow, :class => "form-control", :required => true, :step => 'any' 
    
  .form-group.row
    = f.label nil, Setting.pdt_sums.inmud, :class => "col-sm-5 text-center"
    .col-sm-7
      = f.number_field :inmud, :class => "form-control"
    
  .form-group.row
    = f.label nil, Setting.pdt_sums.outmud, :class => "col-sm-5 text-center"
    .col-sm-7
      = f.number_field :outmud, :class => "form-control", :required => true, :step => 'any' 
    
  .form-group.row
    = f.label nil, Setting.pdt_sums.mst, :class => "col-sm-5 text-center"
    .col-sm-7
      = f.number_field :mst, :class => "form-control"
    
  .form-group.row
    = f.label nil, Setting.pdt_sums.power, :class => "col-sm-5 text-center"
    .col-sm-7
      = f.number_field :power, :class => "form-control", :required => true, :step => 'any' 
    
  .form-group.row
    = f.label nil, Setting.pdt_sums.mdflow, :class => "col-sm-5 text-center"
    .col-sm-7
      = f.number_field :mdflow, :class => "form-control"
    
  .form-group.row
    = f.label nil, Setting.pdt_sums.mdrcy, :class => "col-sm-5 text-center"
    .col-sm-7
      = f.number_field :mdrcy, :class => "form-control"
    
  .form-group.row
    = f.label nil, Setting.pdt_sums.mdsell, :class => "col-sm-5 text-center"
    .col-sm-7
      = f.number_field :mdsell, :class => "form-control"
    
