.nested-fields.mt-2
  .form-group
    .field.d-inline
      .card.border-0.mb-3.rounded-0
        .card-header.bg-transparent.border-info
          %h5
            5 
            = Setting.tspmuds.label
            = link_to_remove_association "删除", f, :class => "btn btn-danger btn-sm d-inline pull-right"
        .card-body
          %table.w-100.table-bordered.day-pdt-table
            %tbody
              %tr
                %td.p-2.text-center
                  = f.label Setting.tspmuds.tspvum, :class => "text-center"
                %td.p-2.text-center
                  = f.number_field :tspvum, :class => "form-control", :required => true , :step => 'any'
                  
                %td.p-2.text-center
                  = f.label Setting.tspmuds.dealer, :class => "text-center"
                %td.p-2.text-center
                  = f.select :dealer, options_for_mudfcts(@factory), {:include_blank=>false}, {:class=>"form-control"}
                  
                %td.p-2.text-center
                  = f.label Setting.tspmuds.rcpvum, :class => "text-center"
                %td.p-2.text-center
                  = f.number_field :rcpvum, :class => "form-control", :required => true , :step => 'any'
                  
              %tr
                %td.p-2.text-center
                  = f.label Setting.tspmuds.price, :class => "text-center"
                %td.p-2.text-center
                  = f.number_field :price, :class => "form-control", :required => true , :step => 'any'
                  
                %td.p-2.text-center
                  = f.label Setting.tspmuds.prtmtd, :class => "text-center"
                %td.p-2.text-center
                  = f.text_field :prtmtd, :class => "form-control"
                  
                %td.p-2.text-center
                  = f.label Setting.tspmuds.goort, :class => "text-center"
                %td.p-2.text-center
                  = f.text_field :goort, :class => "form-control"
