- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "wpforms", text:  @factory.name + "-" + t(controller_name + "." + action_name + '.title')
          -#
            = link_to "#{request.url}".sub("edit", ""), :class => "button button-small pull-right button-primary" do
          - if @day_pdt.state == Setting.day_pdts.ongoing || @day_pdt.state == Setting.day_pdts.rejected
            %button#day-pdt-sync-btn.button.button-small.pull-right.button-royal{:type => 'button'}
              = fa_icon "refresh", text: '同步环境检测系统数据', right: false 
            -#
              = link_to emp_sync_factory_day_pdt_path(idencode(@factory.id), idencode(@day_pdt.id)), :data => {:confirm => "同步之前请先保存已修改数据,未保存点取消." }, :class => "button button-small  pull-right button-royal" do
                = fa_icon "refresh", text: '同步环境检测系统数据', right: false 
          = link_to "/factories/#{idencode(@factory.id)}/#{controller_name}", :class => "button button-small  pull-right button-primary mr-1" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 


      - content_for :card_body do
        .container-fluid.p-0
          .row
            .col-md-12
              .card-body
                = render 'form'

      = render "layouts/bootstrap/card"
