- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-11.ml-sm-auto.col-lg-11.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text:  @factory.name + "-" + t(controller_name + "." + action_name + '.title')
          - if @day_pdt.state == Setting.day_pdts.verifying
            = link_to "提交公司审核", cmp_verifying_factory_day_pdt_path(idencode(@factory.id), idencode(@day_pdt.id)), :class => "button button-royal button-small pull-right mr-1" , :data => {:confirm => "确定提交公司审核吗?"}
            = link_to "驳回", rejected_factory_day_pdt_path(idencode(@factory.id), idencode(@day_pdt.id)), :class => "button button-caution button-small pull-right mr-1" , :data => {:confirm => "确定驳回吗?"}
          = link_to "/factories/#{idencode(@factory.id)}/#{controller_name}/verify_index", :class => "button button-small  pull-right button-primary mr-1" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        = render "show_table"

      = render "layouts/bootstrap/card"
  
                      
                  
